<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="php rewrite" />
                <rule name="php rewrite">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^.*\.(jpg|jpeg|gif|png|css|js|txt)$" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="/index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
